<header class="siteHeader"
  id="SiteHeader">
  <h1 class="siteHeader_title">Nazar Kapushchak</h1>
  <p class="siteHeader_label">Software Developer</p>
  <nav class="siteHeader_nav"
    x-data="">
    <ol>
      <li>
        @if (title === 'home') {
          <div
          >●</div>
          }@if (title !== 'home') {
          <a class="_text"
            routerLink="/home"
          >Home</a>
        }
      </li>
      <li>
        @if (title === 'project') {
          <div
          >●</div>
          }@if (title !== 'project') {
          <a class="_text"
            routerLink="/projects"
          >Projects</a>
        }
      </li>
      <li>
        @if (title === 'info') {
          <div
          >●</div>
          }@if (title !== 'info') {
          <a class="_text"
            routerLink="/info"
          >Info</a>
        }
      </li>
    </ol>
  </nav>
</header>
