<app-header [title]="'home'"></app-header>
<main class="content"
  id="Content"
  data-scroll="area">
  <div class="content_inner"
    data-scroll="target"
    style="transform: translate3d(0px, 0px, 0px);">
    <section class="page"
      data-page="home"
      style="display: block; opacity: 1;">
      <div class="page_content home">
        <p class="home_aboutme">
          <span>Welcome</span>
          <span> to my Software Developer portfolio!</span>
          <span>Here, you'll find a showcase</span>
          <span>of my passion for coding,</span>
          <span>problem-solving, and creativity.</span>
          <span>As a software developer,</span>
          <span>I constantly strive to learn and improve,</span>
          <span>and this portfolio serves</span>
          <span>as a window into my world</span>
          <span>of web design,</span>
          <span>projects, achievements, and innovations.</span>
        </p>
      </div>
    </section>
  </div>
</main>
