<app-header [title]="'project'"></app-header>
<main class="content"
  id="Content"
  data-scroll="area">
  <div class="content_inner"
    data-scroll="target"
    style="transform: translate3d(0px, 0px, 0px);">
    <section class="page"
      data-page="projects">
      <div class="page_content project">
        <div class="project_section">
          <h2 class="project_heading">■ Developed Projects</h2>
          <div class="project_list">
            <a class="project_item text-btn"
              href="https://www.callingpost.com/index.html"
              target="_blank"
              rel="noopener">
              <div class="project_title">CallingPost</div>
              <div class="project_info">2019 - 2022 / Local financial and notification platform / Full Stack Developer</div>
              <div class="project_info">Tech Stack: Angular, Angular Material, Java, MySQL, Azure</div>
            </a><a class="project_item text-btn"
              href="https://stageverse.com/"
              target="_blank"
              rel="noopener">
              <div class="project_title">Stageverse</div>
              <div class="project_info">2018 - 2020 / Metaverse / Front End Developer</div>
              <div class="project_info">Tech Stack: Angular, Angular Material, React.js, Java, MySQL, AWS</div>
            </a>

            <div class="project_title">DocGo</div>
            <a class="project_item text-btn"
              href="https://ondemand.docgo.com/landing"
              target="_blank"
              rel="noopener">
              <div class="project_info">2023 / HealthCare / Front End Developer / Web</div>
            </a><a class="project_item text-btn"
              href="https://apps.apple.com/us/app/docgo-on-demand/id1642592299"
              target="_blank"
              rel="noopener">
              <div class="project_info">2023 / HealthCare / IOS / Mobile</div>
            </a>
            <a class="project_item text-btn"
              href="https://play.google.com/store/apps/details?id=com.docgo.ondemand&hl=en_US&gl=US"
              target="_blank"
              rel="noopener">
              <div class="project_info">2023 / HealthCare / Android / Mobile</div>
            </a>
            <a class="project_item text-btn"
              href="https://www.ambulnz.com/"
              target="_blank"
              rel="noopener">
              <div class="project_info">2023 / HealthCare SaaS platform for drivers / Web </div>
            </a>
            <div class="project_info">Tech Stack: React, Angular, Ionic, Angular Material, Tailwind, Cypress, Java, PostgreSQL</div>

            <a class="project_item text-btn"
              href="https://github.com/Marshalleye/telegram-bot-client"
              target="_blank"
              rel="noopener">
              <div class="project_title">Telegram Bot</div>
              <div class="project_info">2023 / Pet Project</div>
              <div class="project_info">Tech Stack: React, Next.js, Nest.js, PostgreSQL</div>
            </a>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
