@font-face {
  font-family: "Neue-Montreal-Bold";
  src: url("../neue-montreal/PPNeueMontreal-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Neue-Montreal-Medium";
  src: url("../neue-montreal/PPNeueMontreal-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Neue-Montreal-Thin";
  src: url("../neue-montreal/PPNeueMontreal-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "Neue-Montreal-Semi-Bold";
  src: url("../neue-montreal/PPNeueMontreal-SemiBolditalic.ttf") format("truetype");
}