:root {
  --c-bg: hsl(0, 0%, 90%);
  --c-text: hsl(0, 0%, 10%);
  --pad: max(20px, 4vmin);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--c-bg);
  font-family: "Neue-Montreal-Thin";
  font-weight: 600;
  font-size: 14px;
  font-feature-settings: "palt";
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: none;

  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

main,
canvas {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

.text-btn {
  transition-property: opacity;
  transition-duration: .4s;
  transition-timing-function: cubic-bezier(0.1, 0.4, 0.2, 1);
}

.enterView {
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  will-change: opacity;
  background-color: var(--c-bg);
  color: var(--c-text);
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5em;
  font-size: 30px;
  transition: opacity 700ms ease-out;

  & ._t1 {
    font-weight: 400;
  }
}

#Background {
  position: fixed;
  z-index: 1;
  left: var(--pad);
  right: var(--pad);
  top: var(--pad);
  bottom: var(--pad);
  pointer-events: none;
  overflow: hidden;
}

#Page {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--c-bg);
  color: #fff;
  white-space: nowrap;
  transition-property: background-color;
  transition-duration: .9s;
  transition-timing-function: cubic-bezier(0.1, 0.4, 0.2, 1);

  &.is-dark {
    filter: invert(1);
  }
}

.mask {
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;

  &_top {
    top: 0;
  }

  &_bottom {
    bottom: 0;
  }
}

.mask_top,
.mask_bottom {
  position: absolute;
  left: 0;
  width: 100%;
  height: var(--pad);
  background-color: var(--c-bg);
  transition-property: background-color;
  transition-duration: .9s;
  transition-timing-function: cubic-bezier(0.1, 0.4, 0.2, 1);
  opacity: .9;
}


.frame {
  position: fixed;
  z-index: 10;
  left: var(--pad);
  right: var(--pad);
  top: var(--pad);
  bottom: var(--pad);
  mix-blend-mode: difference;
  pointer-events: none;

  &_line {
    position: absolute;
    background-color: #fff;
    opacity: .5;

    &-left {
      left: 0;
      top: 0;
      width: 1px;
      height: 100%;
    }

    &-right {
      right: 0;
      top: 0;
      width: 1px;
      height: 100%;
    }

    &-top {
      left: 0;
      top: 0;
      width: 100%;
      height: 1px;
    }

    &-bottom {
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
    }
  }
}

.theme {
  position: fixed;
  z-index: 10;
  left: calc(var(--pad) - 0.15em);
  bottom: var(--pad);
  transform-origin: left bottom;
  transform: rotate(-90deg);
  white-space: nowrap;
  mix-blend-mode: difference;
  display: flex;
  column-gap: 15px;
  cursor: pointer;

  &_color {
    display: flex;
    column-gap: 3px;
    font-weight: 400;
    text-transform: uppercase;

    & ._box::before {
      font-size: 14px;
      content: "□";
    }

    &.is-selected ._box::before {
      font-size: 14px;
      content: "■";
    }
  }


}


// HEADER
.siteHeader {
  position: fixed;
  z-index: 10;
  left: calc(var(--pad)*2);
  top: calc(var(--pad)*2);
  mix-blend-mode: difference;

  &_title {
    margin: -0.1em 0 0 -0.04em;
    font-weight: 200;
    font-size: 30px;
  }

  &_label {
    margin-top: 5px;
    font-weight: 400;
    font-size: large;
  }

  &_nav {
    margin-top: 50px;

    & ol {
      display: flex;
      flex-direction: column;
      row-gap: 15px;
      list-style-type: none;

      & li {
        position: relative;

        & ._text {
          position: relative;
          transition-property: opacity;
          transition-duration: .4s;
          transition-timing-function: cubic-bezier(0.1, 0.4, 0.2, 1);
        }
      }
    }
  }
}



//MAIN

.content {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  mix-blend-mode: difference;

  &_inner {
    position: relative;
    min-height: 100%;
  }
}


.home {
  position: absolute;
  right: calc(var(--pad)*2);
  bottom: calc(var(--pad)*2);
  white-space: nowrap;

  &_aboutme {
    line-height: 1.5;

    & span {
      display: block;
    }
  }
}


.page {
  width: 100%;
  min-height: calc(var(--vh, 1vh)*100);
}


.project {
  padding: calc(var(--pad)*2 + 96px) calc(var(--pad)*2);
  text-align: right;
  white-space: nowrap;

  &_heading {
    font-weight: 400;
  }

  &_list {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 15px;
  }

  &_title {
    font-weight: 200;
    font-size: 30px;
    text-align: right;
  }
}



.info {
  position: absolute;
  left: calc(var(--pad)*2);
  bottom: calc(var(--pad)*2);
  white-space: nowrap;

  &_content {
    line-height: 1.5;
  }
}


.contact {
  position: absolute;
  right: calc(var(--pad)*2);
  bottom: calc(var(--pad)*2);
  white-space: nowrap;

  &_text {
    display: block;
  }
}