<app-header [title]="'info'"></app-header>
<main class="content"
  id="Content"
  data-scroll="area">
  <div class="content_inner"
    data-scroll="target"
    style="transform: translate3d(0px, 0px, 0px);">
    <section class="page"
      data-page="info">
      <div class="page_content info">
        <div class="info_item info_item-1">
          <div class="info_content">
            <ul>
              <li><a class="text-btn"
                  href="https://twitter.com/marshalldayl"
                  target="_blank"
                  rel="noopener">Twitter ↗</a></li>
              <li><a class="text-btn"
                  href="https://github.com/Marshalleye"
                  target="_blank"
                  rel="noopener">GitHub ↗</a></li>
              <li><a class="text-btn"
                  href="https://www.linkedin.com/in/nazarkapushchak"
                  target="_blank"
                  rel="noopener">LinkedIn ↗</a></li>
              <li><a class="text-btn"
                  href="https://www.instagram.com/nazar_kapushchak/"
                  target="_blank"
                  rel="noopener">Instagram ↗</a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
